In [ ]:
ch tx=2

In [ ]:
x

2

In [ ]:
type(x)

int

In [ ]:
y=3.5

In [ ]:
type(y)

float

In [ ]:
a='python'
b=2

In [ ]:
type(a)

str

In [ ]:
type(b)

int

In [ ]:
a=56
type(a)

int

In [ ]:
a="akshat"
type(a)

str

In [ ]:
a=7.666
type(a)

float

In [ ]:
a=int(input("number"))
b=str(input("name"))
c=float(input("marks"))

number89
name
marks90

In [ ]:
a=int(input("Enter the number"))
if(a>6):
  print("akshat")
else:
  print("aman")

Enter the number9
akshat

In [ ]:
a=int(input("enter the first number"))
b=int(input("enter the second number"))
if(a>b):
  print("akshat")
elif(a==b):
  print("tanishq")
else:
  print("number is less")

enter the first number5
enter the second number7
number is less

In [ ]:
a=int(input("enter the number"))
b=int(input("enter the number"))
if(a>b):
  print("a is greater than b")
elif(a==b):
  print("a is equal to b")
else:
  print("b is greater than a")

enter the number89
enter the number90
b is greater than a

In [ ]:
a=int(input("enter the number A"))
b=int(input("enter the number B"))
if(a>b):
  print("the number a is greater than b")
else:
    print("the number b is greater than a")

enter the number A13
enter the number B45
the number b is greater than a

In [ ]:
a=int(input("enter the number A"))
B=int(input("enter the number B"))
c=int(input("enter the number C"))
if(a>b and a>c):
  print("a is greatest")
elif(b>a and b>c):
  print("b is greatest")
else:
  print("c is greatest")

enter the number A23
enter the number B34
enter the number C67
c is greatest

In [ ]:
a=str(input("enter your class"))
b=int(input("enter your percentage"))
if(b>75):
  print("you are allowed in exam")
else:
  if(b<75):
    c=int(input("you have submitted your medical(type 1 for yes/0 for no)"))
    if(c==1):
      print("you are allowed in exam")
    else:
      print("you are not allowed in exam")
  else:
    print("you are allowed in exam")

enter your class7
enter your percentage76
you are allowed in exam

In [ ]:
lecture 2

SyntaxError: ignored

In [ ]:
import numpy as np
print(np.version)

<module 'numpy.version' from '/usr/local/lib/python3.9/dist-packages/numpy/version.py'>

In [ ]:
import numpy as np
array =np.array([1,2,3,4,5])
print(array)

[1 2 3 4 5]

In [ ]:
import numpy as np
from numpy.random import random
random()

0.08893148765767322

In [ ]:
random()

0.018044504505285608

In [ ]:
import numpy as np
from numpy.random import random
random()

0.7521567249996809

In [ ]:
import numpy as np
from np.random import random
random()

ModuleNotFoundError: ignored

In [ ]:
x=random()
if x>0.8:
  answer="greater than 1"
print(x)
print(answer)

0.8194845144367504
greater than 1

In [ ]:
answer=None
x=random()
if x>0.5:
  answer="greater than 0.5"
print(x)
print(answer)

0.9217958444853582
greater than 0.5

In [ ]:
#if else
answer=None
x=random()
if x>0.5 :
  answer="greater than 0.5"
else:
  answer="less than 0.5"
print(x)
print(answer)

0.18924967921578717
less than 0.5

In [ ]:
answer=None
x=random()
if x>0.4 :
  answer="greater than 0.5"
else:
  if x>=0.6:
    answer="hello"
  else:
    answer="bye"
print(x)
print(answer)

0.2364620960235867
bye

In [ ]:
#while condition :
# space execute code 1
# space execute code 2
# space execute code 3 
#space se pata padta hai ki wo loop me chal rha hai indentation

In [ ]:
#write a program to print n natural numbers in descending order

n = int(input("Please Enter any Number:"))
n= 20
while (n!=0):
    print(n)
    n=n-15

Please Enter any Number:

TypeError: ignored

In [ ]:
n =6
while (n!=0):
    print(n)
    n=n-1

6
5
4
3
2
1

In [ ]:
n = int(input("enter the number you want to be in decreasing order"))
while (n!=0):
    print(n)
    n=n-1

enter the number you want to be in decreasing order5

TypeError: ignored

In [ ]:
n=int(input("enter the number of which you want factorial"))
i=1
while n!=1:
  i=n*i
  n=n-1
print("factorial is:",i)

In [ ]:
for i in range(10):
  print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [ ]:
range(5)

range(0, 5)

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
# list is a type of array more specifically it is the type of vector or data structure
#list can also be called as the type of the order sequence of the elements or ordered set of elements,
# order starts from zero and ends at 9... (in other programming language like R list is starts from 1)
#list is the storage element for data structure for data types or used to store mixed data type and every thing is numerated....

In [ ]:
myFirstList=[3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [ ]:
myFirstList

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
type(myFirstList)

list

In [ ]:
listAk=['hello','hy',True,"akshat","aknum",6.5678]
listAk

['hello', 'hy', True, 'akshat', 'aknum', 6.5678]

In [ ]:
listAk

['hello', 'hy', True, 'akshat', 'aknum', 6.5678]

In [ ]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
list(range(1,15))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
y=list(range(100,105))
y

[100, 101, 102, 103, 104]

In [ ]:
y=list(range(100,1000,200))
y

[100, 300, 500, 700, 900]

In [ ]:
y[-2]

700

In [ ]:
#bracket 
w=['a','b','c','d','e','f']
w

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
w[4]

'e'

In [ ]:
len(w)

6

In [ ]:
w[2]='aknum'
w

['a', 'b', 'aknum', 'd', 'e', 'f']

In [ ]:
#slicing
letters=['a','b','c','d','e','f','g','h','i','j','k']

In [ ]:
import pandas as pd
path="/content/drive/MyDrive/21EGJAD003 - Sheet1 (1).csv"
df=pd.read_csv(path)
df.head(5)

       name  marks
0    akshat     98
1      aman     99
2   shivesh    100
3   tanishq    150
4  divyansh    127

In [ ]:
letters[2:6]

['c', 'd', 'e', 'f']